/*header styling*/
header {
  font-family: futura-pt-heavy, sans-serif;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: ae547b;
}
img{
  width: 50%;
  padding: 10px 10px 20px 35px;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.5rem;
  font-variant: small-caps;
  color: #f29f9f;
  text-decoration: none;
}

.menuItem:hover {
  color:#ae547b;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: none;
  color: #f29f9f;
  background: none;
  cursor: pointer;
}

.closeIcon {
  display: none;
  color: #f29f9f;
}


.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  color: #ae547b;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}
