/******* Begin Universal Styling *******/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-menu {
    display: none;
}

/* Begin Header */
header {
    font-family: futura-pt-heavy, sans-serif;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #ae547b;
    background: #fafafa;
  }

header img {
    width: 50%;
    padding: 10px 10px 20px 35px;
    max-width: 250px;
}
  
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.5rem;
    font-variant: small-caps;
    color: #f29f9f;
    text-decoration: none;
  }
  
  .menuItem:hover {
    color:#ae547b;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: none;
    color: #f29f9f;
    background: none;
    cursor: pointer;
  }
  
  .menuIcon.material-icons, .closeicon.material-icons {
    line-height: 3;
    font-size: 30px;
    font-weight: bold;
  }
  .closeIcon {
    display: none;
    color: #f29f9f;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    color: #ae547b;
    list-style: none;
    padding-top: 4rem;
    background-color: white;
    max-width: 250px;
    max-height: 400px;
  }
  
  .showMenu {
    transform: translateY(0);
  }
/* End Header */


/* Begin Footer */
footer {
    background-color: #fafafa;
    text-align: center;
    padding-top: 7px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: ae547b;
}

.footer-logo {
    width: 150px;
    padding-bottom: 20px;
}
.social-icons {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

footer li {
        width: 100%;
        padding-bottom: 8px;
}

.fab {
    color:#F29F9F;
}

.loc-footer {   
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* End Footer */

/******* End Universal Styling *******/



/******* Begin Home Page *******/
/* hero section begin */
.hero-section-mobile {
    position: relative;
    text-align: center;
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
}

.hero-section-mobile img {
    width: 100%;
}

.hero-section-mobile span {
    font-family: quimby-gubernatorial, sans-serif;
}

.hero-section-mobile h1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #ae547b;
    width: 100%;
    padding: 1% 0;
}
/* hero section end */

/* video section begin */
.video-section {
    background-color:#f29f9f;
}

video {
    width: 70%;
    margin: 15% 15% 0;
}

.video-section p {
    color: white;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    margin: 0 15%;
    padding: 10% 0 15%;
}
/* video section end */

/* 3 columns section begin */
.column-section {
    background-color: white;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header *,
header *:before,
header *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

@media (min-width: 800px) {
  .background {
    padding: 0 0 25px;
  }
}

.learnmore-container {
  max-width: 960px;
  width: 100%;
}

.panel {
  position: relative;
  width: 100%;
  z-index: 10;
}

.learnmore-table {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .learnmore-table {
    flex-direction: row;
  }
}

.learnmore-table * {
  text-align: center;
}

@media (min-width: 800px) {
  .learnmore-program {
    flex-basis: 100%;
    padding: 25px 50px;
  }
}

.column-section li {
    list-style-type: none;
}

.column-section a {
    display: block;
}

.column-section {
    padding: 15% 15% 20%;
}

.column-section h2 {
    font-family: futura-pt, sans-serif;
}

.column-section h3 {
    font-family: quimby-gubernatorial, sans-serif;
    font-size: 1.4em;
    padding: 18% 30% 8%;
    line-height: 1.3em;
}

.column-section li {
    padding: 0 15%;
    font-family: futura-pt, sans-serif;
    text-align: left;
}

.column-section a {
    font-family: futura-pt;
    background-color: #AE547B;
    color: white;
    border-style: none;
    padding: 9px 14px;
    margin: 7% 15%;
    text-decoration: none;
    text-transform: uppercase;
}
/* 3 columns end */

/* testimonial section begin */
.testimonial-section {
    background-color:#ae547b;
    color: white;
    font-family: futura-pt, sans-serif;
}

.testimonial-section span {
    font-family: quimby-gubernatorial, sans-serif;
}

.testimonial-header {
    font-size: 1.5em;
    padding: 15%;
}

.testimonial-1 p, .testimonial-2 p {
    background-color:#F29F9F;
    border: 2px solid white;
}

.testimonial-1 p {
    margin: 0 30% 5% 15%;
    padding: 7%;
}

.testimonial-1 img {
    width: 50%;
    margin: -10% 15% 0 30%;
}

.testimonial-1 figcaption {
    width: 50%;
    margin: 3% 15% 5% 30%;
    padding: 0 0 10%;
}

.testimonial-2 p {
    margin: 0 30% 5% 15%;
    padding: 7%;
}

.testimonial-2 img {
    width: 50%;
    margin: -10% 15% 0 30%;
}

.testimonial-2 figcaption {
    width: 50%;
    margin: 3% 15% 5% 30%;
    padding: 0 0 20%;

}
/* testimonial section end */

/* emoji section begin */

/* emoji section end */
/******* End Home Page *******/



/******* Begin Programs Page *******/
.page-title h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    color: white;
    align-items: center;
}

body {
    background-color: rgba(112, 112, 112, .25);
}

.container {
    max-width: 600px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.element {
    padding: 10px;
    background: #ae547b;
    color: white;
    margin: 10px 0;
    border-radius: 5px;
}
.element .program-name{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.program-name h3{
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
}
.program-name button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.program-name i{
    color: white;
    font-size: 20px;
}
.element .program-info{
    padding: 10px 20px;
    animation: animate .7s;
}
.answer {
    background-color: white;
    border:  3px solid #f29f9f;
    padding: 2px;
}

.container p {
    font-family: futura-pt, sans-serif;
    color: #5a4748;
    padding: 2px;
}
.hideText {
    display: none;
}

@keyframes animate{
    from {
        opacity: 0;
        transform: scale(0.6);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

h4 {
    font-family: quimby-gubernatorial, sans-serif;
}

h5 {
    font-family: 'futura-pt', sans-serif;
    color: #5a4748;
}

.impact h4,
.impact p, 
.code h4,
.code p,
.sisterhood h4,
.sisterhood p,
.build-sisterhood h4,
.build-sisterhood p,
.build-leadership h4, 
.build-leadership p,
.build-career h4,
.build-career p,
.build-skills h4,
.build-skills p,
.build-community h4,
.build-community p,
.build-network h4,
.build-network p
 {
    padding: 5px;
    background-color: #F29F9F;
    color: white;
    max-width: 200px;
    text-align: center;
}

.build-sisterhood h4,
.build-sisterhood p,
.build-leadership h4, 
.build-leadership p,
.build-career h4,
.build-career p,
.build-skills h4, 
.build-skills p,
.build-community h4, 
.build-community p,
.build-network h4,
.build-network p {
    max-width: 170px;
}

.impact, 
.code,
.sisterhood {
    padding: 4px;
}

.build-sisterhood,
.build-leadership,
.build-career {
    padding: 2px;
}

.build-skills, 
.build-community, 
.build-network {
    padding: 2px;
}
/******* End Programs Page *******/



/******* Begin Locations Page *******/
.alert {
    padding: 20px;
    margin: 20px;
    background-color: #AE547B;
    color: white;
    margin-bottom: 15px;
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  .alert {
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
    text-align: center;
  }

  .alert h2 {
    color:#F29F9F;
    }

 .alert h1 {
        font-size: 3rem;
        font-family: quimby-gubernatorial, sans-serif;
        }

 .alert p {
    color: white;
    }

 input, button {
  padding: 6px 12px;
    }

 .fa-laptop-house {
    color: #F29F9F;
    padding: 1%;
}
  
  input, button {
    padding: 6px 12px;
  }
  
  #location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    text-align: center;
  }

  #location h1 {
      font-family: futura-pt;
      padding: 20px;
  }

  #location button {
      font-family: futura-pt;
      background-color: #AE547B;
      color: white;
      border-style: none;
  }

  input {
    font-family: futura-pt;
    border-style: none;
  }

  #results {
      font-family: quimby-gubernatorial, sans-serif;
      text-align: center;
      font-size: 1.5rem;
  }

  #link {
      font-family: futura-pt;
      text-decoration: none;
      padding: 30px 0 10px;
      color:#ae547b;
      font-size: 1.5rem;
  }

  #link:hover {
      transition: .5s ease;
      text-decoration: underline;
  }
/******* End Locations Page *******/



/******* BEGIN MEDIA QUERIES *******/
/* Begin 320px */
@media (min-width: 320px) {

    .hamburger 
    .closeIcon {
        display: none;
    }
    

    .girls-laptop,
    .college-student,
    .group-pic{
        width: 80%;
        margin-left: 25px;
    }

    .pink-text-boxes {
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
    }

    .early-grades,
    .older-grades,
    .start-loops,
    .loops-president,
    .live-webinars,
    .rec-webinar {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
}
/* End 320px */

/* Begin 500px */
@media (min-width: 500px) {
    header li {
        width: 40px;
        padding-bottom: 8px;
        padding-left: 25px;
    }
}
/* End 500px */

/* Begin 700px */
@media (min-width: 700px) {
    
    .hamburger, 
    .closeIcon {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .desktop-menu {
        display: block;
        list-style-type: none;
        margin-top: 50px;
    }

    .desktop-menu li {
        display: inline;
        padding: 40px;
    }

    .desktop-menu li a {
        font-family: futura-pt, sans-serif;
        color: #f29f9f;
        text-decoration: none;
        font-variant: small-caps;
    } 

    .desktop-menu li a:hover {
        color:#ae547b;
    }
      
    .container {
        width: 600px;
    }

    .girls-laptop, 
    .college-student, 
    .group-pic {
        width: 45%;
        margin-left: 150px;
        padding: 15px;
    }

    .pink-text-boxes {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .early-grades, 
    .older-grades,
    .live-webinars,
    .rec-webinar,
    .start-loops,
    .loops-president {
        max-width: 40%;
        margin: 25px;
        padding: 2px;
        display: inline-grid;
    }

    header li {
        width: 40px;
        padding-bottom: 8px;
        padding-left: 25px;
    }
    .footer-logo {
        width: 200px;
        
    }
}
/* End 700px */
/******* END MEDIA QUERIES *******/
